
.seccion-principal {
  display: flex;
  align-items: center;
  justify-content: center; 
  padding: 80px 100px;
  background-color: #f3f7ff;
  background-image: url('/img/et29frente-1280x720.jpeg'); 
  background-position: center; 
  color: white; 
  flex-wrap: wrap;
}

.texto-principal {
  flex: 1;
  min-width: 280px;
  margin: 0; 
  padding: 20px; 
  border-radius: 10px; 
}

.texto-principal h1 {
  font-size: 2.3rem;
  color: #f5f8fc;
  margin-bottom: 20px;
}

.texto-principal p {
  color: #f7fcff;
  line-height: 1.6;
  margin-bottom: 30px;
  font-weight: 600;
}

.botones-principales a {
  text-decoration: none;
  padding: 10px 22px;
  border-radius: 25px;
  font-weight: 500;
  margin-right: 10px;
}

.boton-primario {
  background-color: #0a66d6;
  color: #fff;
}

.boton-secundario {
  border: 1.5px solid #0a66d6;
  color: #f1f7ff;
}

.imagen-principal img {
  width: 480px;
  border-radius: 15px;
  object-fit: cover;
}

/* ESPECIALIDADES */
.seccion-especialidades {
  text-align: center;
  padding: 90px 80px;
}

.seccion-especialidades h2 {
  color: #0a2342;
  font-size: 1.9rem;
  margin-bottom: 10px;
}

.seccion-especialidades p {
  color: #555;
  margin-bottom: 40px;
}

.contenedor-especialidades {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
}

.tarjeta-especialidad {
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
  overflow: hidden;
  padding-bottom: 20px;
}

.tarjeta-especialidad img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.tarjeta-especialidad h3 {
  margin-top: 15px;
  color: #0a2342;
}

.tarjeta-especialidad p {
  padding: 0 20px;
  color: #555;
  margin: 15px 0;
}

.enlace {
  color: #0a66d6;
  font-weight: 600;
  text-decoration: none;
}

/* VISITA VIRTUAL */
.seccion-visita {
  background-color: #e9f0ff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 100px;
  flex-wrap: wrap;
}

.imagen-visita img {
  width: 450px;
  border-radius: 16px;
  object-fit: cover;
}

.contenido-visita {
  flex: 1;
  min-width: 280px;
  margin-left: 40px;
}

.contenido-visita h2 {
  color: #0a2342;
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.contenido-visita p {
  color: #444;
  margin-bottom: 25px;
}

.botones-visita a {
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 25px;
  margin-right: 10px;
}



